.purchase-seats-box {
    text-align: left;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.book-seats-h{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.purchase-btns {
    padding: 15px;
    margin: 10px;
}

.seat-selection {
    /* border: 1px solid grey; */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

.search-flight-h{
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* padding: 0 115px; */

}

.text-style-user {
    font-family: 'Times New Roman', Times, serif;
}


.text-style-bold {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.signup-btn {
    color: white;
    background-color: rgb(75, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 7px 130px;
    margin: 10px;
}
.flight-search-btn{
    color: white;
    background-color: rgb(75, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 7px 100px;
}

.book-seat-btn {
    color: white;
    background-color: rgb(75, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 3px 18px;

}

.add-flight-btn{
    color: white;
    background-color: rgb(75, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 3px 70px;
}

.login-btn{
    color: white;
    background-color: rgb(75, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px 100px;
    margin: 10px;
}

#seat-type-selection {
    padding: 5px 15px;
    border-radius: 8px;
}

#seat-number-selection {
    padding: 5px 15px;
    border-radius: 8px;
}